.payment-method-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5bcd9;
  position: relative;
}

.payment-method-container h1 {
  color: black;
}

.payment-method-container p {
  color: black;
}

.inner-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.back-button:hover {
  background-color: #0056b3;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

.account-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.account-option {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: black; /* Set text color to black */
}

.account-option.selected {
  background-color: #007bff;
  color: white; /* Keep text white for selected option */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.save-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.save-button:hover {
  background-color: #218838;
}
